/*================================================================================
	Item Name: Robust - Responsive Admin Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.dt-img-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #4d4d4d;
}

.update-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.update-avatar-container .avatar-container {
}
.update-avatar-container .avatar-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #4d4d4d;
}
.update-avatar-container button {
    margin-top: 30px;
}
#file-avatar {
    display: none;
}

.card-stats .card-header.card-header-icon i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
    text-align: right;
}

.card [class*="card-header-"] {
    margin: 0px 15px 0;
    padding: 0;
    position: relative;
}

.card .card-header {
    z-index: 3 !important;
}

.card [class*="card-header-"], .card[class*="bg-"] {
    color: #fff;
}

.card .card-header {
    border-bottom: none;
    background: transparent;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-stats .card-header .card-category:not([class*="text-"]) {
    color: #999999;
    font-size: 14px;
}

.card-stats .card-header .card-icon+.card-title, .card-stats .card-header .card-icon+.card-category {
    padding-top: 10px;
}

.card .card-body+.card-footer, .card .card-footer {
    padding: 0;
    padding-top: 10px;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
}

.card .card-footer {
    display: flex;
    background-color: transparent;
    border: 0;
}

@media (min-width: 992px)
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
